//Colors

$color-accent: hsl(31, 77%, 52%); //orange
$color-dark: hsl(184, 100%, 22%); //dark cyan
$color-very-dark: hsl(179, 100%, 13%); //very dark cyan

$color-transparent: hsla(0, 0%, 100%, 0.75); //transparent white
$color-light: hsl(0, 0%, 95%); //very light gray

//Fonts
$font-primary: "Big Shoulders Display", cursive;
$font-secondary: "Lexend Deca", sans-serif;
