@import "./fonts";
@import "./variables";
@import "./mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

body {
  max-width: 1040px;
  margin: 0 auto;
  background-color: $color-light;
}

.three-columns {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;

  .column {
    padding: 0 50px;
    max-width: 100%;

    &__icon {
      padding: 50px 0 25px 0;
    }

    &__title {
      font-family: $font-primary;
      color: $color-light;
      font-size: 2.5rem;
      padding: 0 0 25px 0;
    }

    &__txt {
      font-family: $font-secondary;
      color: $color-transparent;
      line-height: 1.8;
      padding: 0 0 25px 0;
    }

    &__btn {
      display: inline-block;
      padding: 15px 30px;
      background-color: $color-light;
      font-family: $font-secondary;
      text-decoration: none;
      border-radius: 28px;
      margin-bottom: 50px;
      border: 2px solid $color-light;
      &--one {
        color: $color-accent;
      }
      &--two {
        color: $color-dark;
      }
      &--three {
        color: $color-very-dark;
      }
      &:hover {
        background-color: transparent;
        color: $color-light;
        transition: ease-in-out 0.2s;
        cursor: pointer;
      }
    }

    &--one {
      background-color: $color-accent;
      border-radius: 10px 10px 0 0;
    }
    &--two {
      background-color: $color-dark;
    }
    &--three {
      background-color: $color-very-dark;
      border-radius: 0 0 10px 10px;
    }
  }
}

.attribution {
  text-align: center;
  padding-bottom: 10px;
  font-size: 0.75rem;
  font-family: $font-secondary;
  a {
    color: gray;
    &:hover {
      color: $color-accent;
    }
  }
}

@include tablet {
  .three-columns {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    .column {
      width: 33.3%;
      &__txt {
        padding: 0 0 60px 0;
      }

      &--one {
        background-color: $color-accent;
        border-radius: 10px 0 0 10px;
      }
      &--three {
        background-color: $color-very-dark;
        border-radius: 0 10px 10px 0;
      }
    }
  }
}
